# Entornos virtuales
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.class
*.so

# Logs y datos temporales
logs/
uploads/
*.log
.DS_Store

# Credenciales
.env
.git-credentials
